<?xml version="1.0"?>
<launch>
    <arg name="pkg_gazebo_worlds" default="$(find fcr2017)"/>

    <env name="GAZEBO_MODEL_PATH" value="$(arg pkg_gazebo_worlds)/models:$(optenv GAZEBO_MODEL_PATH)"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <!-- To use this world go to https://github.com/Gastd/cic and download the model -->
        <arg name="world_name" value="$(find fcr2017)/worlds/cic/cic.world"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find fcr2017)/robots/pioneer3at.gazebo.xacro" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_pioneer" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model Pioneer3at" respawn="false" output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fcr2017)/launch/gazebo.rviz"/>

    <node name="sonar" pkg="fcr2017" type="gazebo_sonar" />

    <include file="$(find fcr2017)/launch/ptz_control.launch" />

    <node name="p3at_joint_tf_publisher" type="publisher3at" pkg="fcr2017" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
        <!-- <remap from="/joint_states" to="/p3at/joint_states" /> -->
    </node>

    <!-- Baixe o pacote laser_line_extraction -->
    <!-- $ git clone https://github.com/kam3k/laser_line_extraction -->
    <!-- na pasta src/ do seu workspace compile o workspace -->
    <node name="line_extractor" pkg="laser_line_extraction" type="line_extraction_node">
        <param name="~frequency" value="30.0" />
        <param name="~frame_id" value="hokuyo_link" />
        <param name="~scan_topic" value="hokuyo_scan" />
        <param name="~publish_markers" value="true" />
        <param name="~bearing_std_dev" value="1e-5" />
        <param name="~range_std_dev" value="0.012" />
        <param name="~least_sq_angle_thresh" value="0.0001" />
        <param name="~least_sq_radius_thresh" value="0.0001" />
        <param name="~max_line_gap" value="0.5" />
        <param name="~min_line_length" value="0.7" />
        <param name="~min_range" value="0.5" />
        <param name="~min_split_dist" value="0.04" />
        <param name="~outlier_dist" value="0.06" />
        <param name="~min_line_points" value="10" />
    </node>

</launch>
