<?xml version="1.0"?>
<launch>
    <arg name="pkg_gazebo_worlds" default="$(find fcr2017)"/>

    <env name="GAZEBO_MODEL_PATH" value="$(arg pkg_gazebo_worlds)/models:$(optenv GAZEBO_MODEL_PATH)"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <!-- To use this world go to https://github.com/Gastd/cic and download the model -->
        <!-- <arg name="world_name" value="$(find fcr2017)/worlds/cic/cic.world"/> -->
        <!-- <arg name="world_name" value="$(find fcr2017)/worlds/stronghold_trials.world"/> -->
    </include>

    <include file="$(find fcr2017)/launch/upload_pioneer3at.xml"/>

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_pioneer" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model Pioneer3at" respawn="false" output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fcr2017)/launch/gazebo.rviz"/>

    <node name="sonar" pkg="fcr2017" type="gazebo_sonar" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
